In [42]:
import pandas as pd

pd.options.display.max_rows = 100
pd.options.display.max_columns = 50

from clean_data_functions import *

In [ ]:
# Diretivas para que toda vez que uma alteracao num .py for feita, não precisar rodar novamente a importação
%load_ext autoreload
%autoreload 2

In [42]:
# pip install openpyxl

### Leitura e tratamento das colunas

In [64]:
path_data = "../dados/1_BSM_2017 (1).xlsx"

# Leu todos os DF em forma de dicionário
dfs = pd.read_excel(path_data, sheet_name=None)

In [65]:
dfs['Jan17'].head(10)

,Unnamed: 0,Unnamed: 1,Temp,Hi,Low,Wind,Vento corrigido,Wind.1,Hi.1,Hi.2,Unnamed: 10,Unnamed: 11,Rain,Heat,Cool,In,In,In .1,In .2,In Air,Soil 2,Soil
0,Date,Time,Out,Temp,Temp,Speed,Dir,Run,Speed,Dir,Bar,Rain,Rate,D-D,D-D,Temp,Hum,Heat,EMC,Density,"Moist,",Temp 1
1,2017-01-01 00:00:00,00:00:00,22.5,23.1,22.4,1.3,SSE,4.83,3.6,SSE,1012.1,0,0,0,0.174,21.6,58,21.1,10.72,1.1794,200,30.6
2,2017-01-01 00:00:00,01:00:00,22,22.5,22,1.3,SSE,4.83,3.6,SSE,1011.2,0,0,0,0.153,21,58,20.4,10.75,1.1812,200,30
3,2017-01-01 00:00:00,02:00:00,21.3,22,21.3,0.9,SSE,3.22,2.7,S,1010.8,0,0,0,0.125,20.3,58,19.9,10.75,1.184,200,29.4
4,2017-01-01 00:00:00,03:00:00,20.4,21.3,20.4,0.4,SSE,1.61,1.8,SE,1010.8,0,0,0,0.088,19.3,59,19,10.95,1.1889,200,28.9
5,2017-01-01 00:00:00,04:00:00,19.8,20.4,19.8,0.4,SSE,1.61,1.3,SE,1010.8,0,0,0,0.062,18.7,59,18.2,10.95,1.1922,200,28.3
6,2017-01-01 00:00:00,05:00:00,19.4,19.8,19.2,0,SSE,0,0.9,SE,1011.2,0,0,0,0.046,17.8,60,17.3,11.07,1.1968,200,27.8
7,2017-01-01 00:00:00,06:00:00,20.7,20.7,19.4,0,SSE,0,0.9,SE,1011.8,0,0,0,0.1,18.8,59,18.3,10.95,1.1928,200,27.2
8,2017-01-01 00:00:00,07:00:00,23.9,23.9,20.7,1.3,SSE,4.83,4.5,SSE,1012,0,0,0,0.231,24.3,53,24.4,9.65,1.1669,200,27.2
9,2017-01-01 00:00:00,08:00:00,25.1,25.1,23.9,2.7,S,9.66,5.4,S,1012.5,0,0,0,0.28,27.5,50,27.7,9.12,1.1526,200,27.8

In [66]:
for k, df in dfs.items():
    dfs[k] = fix_columns_names(df)

### Tratamento de Datas Faltantes

In [ ]:
# Teste no dataset de janeiro
bsm_df = dfs["Jan17"]
print("shape antes: ", bsm_df.shape)
final_df = fill_missing_times(bsm_df)
print("shape depois: ", final_df.shape)

# Verificar se o número de registros está correto (31 dias * 24 horas = 744 registros)
assert final_df.shape[0] == 744, f"Erro: esperava 744 registros, mas obtive {final_df.shape[0]}"


# Ainda vou validar os resultados e replicar pros demais DataFrames

shape antes:  (701, 22)
shape depois:  (744, 22)

### Unificando os 12 meses em um grande DataFrame