In [438]:
import pandas as pd

pd.options.display.max_rows = 1000
pd.options.display.max_columns = 50

from clean_data_functions import *

import warnings
warnings.filterwarnings("ignore")

In [439]:
# Diretivas para que toda vez que uma alteracao num .py for feita, não precisar rodar novamente a importação
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [440]:
# pip install openpyxl

### Leitura e tratamento das colunas

In [441]:
path_data = "../dados/1_BSM_2017.xlsx"

# Leu todos os DF em forma de dicionário
dfs = pd.read_excel(path_data, sheet_name=None)

In [442]:
dfs['Jan17'].head(10)

,Unnamed: 0,Unnamed: 1,Temp,Hi,Low,Wind,Vento corrigido,Wind.1,Hi.1,Hi.2,Unnamed: 10,Unnamed: 11,Rain,Heat,Cool,In,In,In .1,In .2,In Air,Soil 2,Soil
0,Date,Time,Out,Temp,Temp,Speed,Dir,Run,Speed,Dir,Bar,Rain,Rate,D-D,D-D,Temp,Hum,Heat,EMC,Density,"Moist,",Temp 1
1,2017-01-01 00:00:00,00:00:00,22.5,23.1,22.4,1.3,SSE,4.83,3.6,SSE,1012.1,0,0,0,0.174,21.6,58,21.1,10.72,1.1794,200,30.6
2,2017-01-01 00:00:00,01:00:00,22,22.5,22,1.3,SSE,4.83,3.6,SSE,1011.2,0,0,0,0.153,21,58,20.4,10.75,1.1812,200,30
3,2017-01-01 00:00:00,02:00:00,21.3,22,21.3,0.9,SSE,3.22,2.7,S,1010.8,0,0,0,0.125,20.3,58,19.9,10.75,1.184,200,29.4
4,2017-01-01 00:00:00,03:00:00,20.4,21.3,20.4,0.4,SSE,1.61,1.8,SE,1010.8,0,0,0,0.088,19.3,59,19,10.95,1.1889,200,28.9
5,2017-01-01 00:00:00,04:00:00,19.8,20.4,19.8,0.4,SSE,1.61,1.3,SE,1010.8,0,0,0,0.062,18.7,59,18.2,10.95,1.1922,200,28.3
6,2017-01-01 00:00:00,05:00:00,19.4,19.8,19.2,0,SSE,0,0.9,SE,1011.2,0,0,0,0.046,17.8,60,17.3,11.07,1.1968,200,27.8
7,2017-01-01 00:00:00,06:00:00,20.7,20.7,19.4,0,SSE,0,0.9,SE,1011.8,0,0,0,0.1,18.8,59,18.3,10.95,1.1928,200,27.2
8,2017-01-01 00:00:00,07:00:00,23.9,23.9,20.7,1.3,SSE,4.83,4.5,SSE,1012,0,0,0,0.231,24.3,53,24.4,9.65,1.1669,200,27.2
9,2017-01-01 00:00:00,08:00:00,25.1,25.1,23.9,2.7,S,9.66,5.4,S,1012.5,0,0,0,0.28,27.5,50,27.7,9.12,1.1526,200,27.8

In [443]:
# Ajustando o nome das coluans
for k, df in dfs.items():
    dfs[k] = fix_columns_names(df)
    print(k, dfs[k].shape)

Jan17 (716, 22)
Fev17 (570, 22)
Mar17 (643, 22)
Abr17 (670, 22)
Mai17 (452, 22)
Jul17 (543, 22)
Ago17 (285, 22)
Set17 (636, 22)
Out17 (422, 24)
Nov17 (645, 21)
Dez17 (300, 22)

In [444]:
# Ajustando o nome das coluans
for k, df in dfs.items():
    dfs[k] = drop_nan_named_columns(df)
    print(k, dfs[k].shape)

Jan17 (716, 22)
Fev17 (570, 22)
Mar17 (643, 22)
Abr17 (670, 22)
Mai17 (452, 22)
Jul17 (543, 22)
Ago17 (285, 22)
Set17 (636, 22)
Out17 (422, 22)
Nov17 (645, 21)
Dez17 (300, 22)

In [445]:
# Ajustando a coluna Time das coluans
for k, df in dfs.items():
    dfs[k] = clean_time_column(df)
    print(dfs[k].Time[:1])

1    00:00:00
Name: Time, dtype: object
1    03:00:00
Name: Time, dtype: object
1    00:00:00
Name: Time, dtype: object
1    00:00:00
Name: Time, dtype: object
1    06:00:00
Name: Time, dtype: object
1    01:00:00
Name: Time, dtype: object
1    12:00:00
Name: Time, dtype: object
1    00:00:00
Name: Time, dtype: object
1    00:00:00
Name: Time, dtype: object
1    00:00:00
Name: Time, dtype: object
1    01:00:00
Name: Time, dtype: object

### Padronizando Colunas

In [446]:
# Aplicando a função ao dicionário `dfs`
dfs = standardize_dataframes(dfs)

# Verificando o resultado
for key, df in dfs.items():
    print(f"{key}: shape {df.shape}")

Jan17: shape (716, 24)
Fev17: shape (570, 24)
Mar17: shape (643, 24)
Abr17: shape (670, 24)
Mai17: shape (452, 24)
Jul17: shape (543, 24)
Ago17: shape (285, 24)
Set17: shape (636, 24)
Out17: shape (422, 24)
Nov17: shape (645, 24)
Dez17: shape (300, 24)

### Tratando linhas finais

In [447]:
# Removendo ultimas linhas sem sentido
for k, df in dfs.items():
    print(k)
    print(f"shape {df.shape}")
    dfs[k] = filter_valid_dates(df)
    print(f"shape {dfs[k].shape}")

Jan17
shape (716, 24)
shape (701, 24)
Fev17
shape (570, 24)
shape (560, 24)
Mar17
shape (643, 24)
shape (633, 24)
Abr17
shape (670, 24)
shape (660, 24)
Mai17
shape (452, 24)
shape (442, 24)
Jul17
shape (543, 24)
shape (533, 24)
Ago17
shape (285, 24)
shape (275, 24)
Set17
shape (636, 24)
shape (626, 24)
Out17
shape (422, 24)
shape (412, 24)
Nov17
shape (645, 24)
shape (635, 24)
Dez17
shape (300, 24)
shape (290, 24)

### Tratamento de Datas Faltantes

In [448]:
# Preenchendo os 'buracos' de datas e horas faltantes
for k, df in dfs.items():
    print(k)
    print(f"shape {df.shape}")
    dfs[k] = fill_missing_dates_and_times(df)
    print(f"shape {dfs[k].shape}")

Jan17
shape (701, 24)
shape (744, 24)
Fev17
shape (560, 24)
shape (672, 24)
Mar17
shape (633, 24)
shape (744, 24)
Abr17
shape (660, 24)
shape (720, 24)
Mai17
shape (442, 24)
shape (744, 24)
Jul17
shape (533, 24)
shape (744, 24)
Ago17
shape (275, 24)
shape (744, 24)
Set17
shape (626, 24)
shape (720, 24)
Out17
shape (412, 24)
shape (744, 24)
Nov17
shape (635, 24)
shape (720, 24)
Dez17
shape (290, 24)
shape (744, 24)

In [449]:
# Criar o DataFrame para Junho de 2017 usando um DataFrame de referência
dfs["Jun17"] = generate_empty_month_dataframe(2017, 6, reference_df=dfs["Jan17"])

# Verificar o resultado
print(f"Jun17 criado! Shape: {dfs['Jun17'].shape}")
print(dfs["Jun17"].head())

Jun17 criado! Shape: (720, 24)
        Date      Time   Bar Cool D-D Heat D-D Hi Temp Hi.1 Speed Hi.2 Dir  \
0 2017-06-01  00:00:00  None     None     None    None       None     None
1 2017-06-01  01:00:00  None     None     None    None       None     None
2 2017-06-01  02:00:00  None     None     None    None       None     None
3 2017-06-01  03:00:00  None     None     None    None       None     None
4 2017-06-01  04:00:00  None     None     None    None       None     None

  In .1 Heat In .2 EMC In Air Density In Hum In Temp Low Temp  Rain Rain Rate  \
0       None      None           None   None    None     None  None      None
1       None      None           None   None    None     None  None      None
2       None      None           None   None    None     None  None      None
3       None      None           None   None    None     None  None      None
4       None      None           None   None    None     None  None      None

  Soil 2 Moist, Soil Temp 1 Temp Out Vento corrigido Dir Wind Speed  \
0          None        None     None                None       None
1          None        None     None                None       None
2          None        None     None                None       None
3          None        None     None                None       None
4          None        None     None                None       None

  Wind.1 Dir Wind.1 Run Wind.2 Run
0       None       None       None
1       None       None       None
2       None       None       None
3       None       None       None
4       None       None       None

### Unificando os 12 meses em um grande DataFrame

In [450]:
# Nome do arquivo de saída
output_file = "../dados/BSM_2017_clean.xlsx"

# Executar a função e salvar o arquivo
final_df = merge_and_save_dataframes(dfs, output_file)

print(f"Arquivo salvo como {output_file}")
print(f"Shape final do DataFrame: {final_df.shape}")

Arquivo salvo como ../dados/BSM_2017_clean.xlsx
Shape final do DataFrame: (8760, 24)